.newsList{
    display:block; 
    overflow: hidden; 
    text-overflow: ellipsis; 
    height: 70px;
    transition: height .5s ease; 
    white-space: wrap; 
    font-family: Georgia,sans-serif; 
    font-weight:bold;
}
a:link{
    color:#2E2D31;
    text-decoration: none;
}
a:hover{
    color: slategray;
}
body{
    margin-bottom: 50px;
}
nav{
    font-size: large;
}
.btn{
    float:right; 
    margin:-8px;
}