<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Team Statistics</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.1.3/css/bootstrap.min.css"
    integrity="sha512-GQGU0fMMi238uA+a/bdWJfpUGKUkBdgfFdgBm72SUQ6BeyWjoY/ton0tEjH+OSH9iP4Dfh+7HM0I9f5eR0L/4w=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.0/css/all.min.css"
    integrity="sha512-10/jx2EXwxxWqCLX/hHth/vu2KY3jCF70dCQB8TSgNjbCVAC/8vai53GfMDrO2Emgwccf2pJqxct9ehpzG+MTw=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
<link rel="stylesheet" href="/css/styles.css" type="text/css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/css/bootstrap.css">
<link rel="stylesheet" href="https://cdn.datatables.net/1.12.0/css/dataTables.bootstrap4.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>
        <!-- navbar -->
        <div class="container">
            <nav th:replace="fragments/layout.html :: topnav" class="navbar"></nav>
        </div>
    
        <div style="margin-top:-10px;">
            <table class="playerstatstable" width="100%">
                <tr width="100%">
                    <td width="35%" rowspan="2" style="padding-top:10px; padding-bottom: 10px;">
                        <img th:src="${team.logo}"
                            width="285" height="285" style="margin-left:200px" />
                    </td>
                    <td width="60%" colspan="2">
                        <span class="playername" data-th-text="${team.name}"></span><br>
                        <span class="playercountry" data-th-text="${team.city}"></span>
                    </td>
                    <td style="padding-right: 79px; padding-top:20px;">
                        <a th:href="@{/teams/addtofav/{id}(id=${team.id})}" class="btn btn-warning" role="button" aria-pressed="true"><i id="addtofav"
                            th:class="@{{star} fa-xl fa-star(star=${star})}"></i>&nbsp;&nbsp; <span data-th-text="${addedmessage}"></a>
                    </td>
                </tr>
                <tr width="60%" style="margin-right:10px;">
                    <td class="statsdetails bgblue">Nickname: <br><span class="detailsspan"
                            data-th-text="${team.nickname}"></span></td>
                    <td class="statsdetails bgred">Code: <br><span class="detailsspan"
                            data-th-text="${team.code}"></span></td>
                    <td class="statsdetails bgblue">League: <br><span class="detailsspan"
                            data-th-text="${team.league}"></span></td>
                </tr>
            </table>
        </div>
    
        <div class="stats-bg">
            <table style="width:95%; margin:auto;">
                <tr>
                    <td>
                        <div class="tdstats">
                            <h3>Games Played </h3>
                            <br>
                            <span class="statsfont" data-th-text="${team.stats.gamesPlayed}"></span>
                        </div>
                    </td>
                    <td rowspan="3" style="width:50%; padding-left: 50px;">
                        <div class="container tdchart" id="chart_div"></div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="tdstats" style="background: #F75175 ! important;">

                            <h3>Points </h3>
                            <br>
                            <span class="statsfont" data-th-text="${team.stats.points}"></span>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="tdstats" style="background: #13D174 ! important;">

                            <h3>Biggest Lead </h3>
                            <br>
                            <span class="statsfont" data-th-text="${team.stats.biggestLead}"></span>
                        </div>
                    </td>
                </tr>
            </table>
            <br>
            <br>
        </div>
    </body>
    
    </html>
    

    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    
    <script th:inline="javascript">
        /*<![CDATA[*/
        google.charts.load('current', { 'packages': ['bar'] });
        google.charts.setOnLoadCallback(drawChart);
        var assists =/*[[${team.stats.assists}]]*/[];
        var blocks =/*[[${team.stats.blocks}]]*/[];
        var steals =/*[[${team.stats.steals}]]*/[];
        var turnover =/*[[${team.stats.turnovers}]]*/[];
        var offensiveRebound =/*[[${team.stats.offReb}]]*/[];
        var defensiveRebound =/*[[${team.stats.defReb}]]*/[];
        var totalRebound =/*[[${team.stats.totReb}]]*/[];
        var pFouls =/*[[${team.stats.pFouls}]]*/[];
    
        function drawChart() {
    
            var data = new google.visualization.DataTable();
            data.addColumn('string', '');
            data.addColumn('number', 'Counts');
    
            data.addRows([
                ['Assists', assists],
                ['Blocks', blocks],
                ['Steals', steals],
                ['Turnovers', turnover],
                ['Offensive rebounds', offensiveRebound],
                ['Defensive rebounds', defensiveRebound],
                ['Total rebounds', totalRebound],
                ['Personal fouls', pFouls]
            ]);
    
            var options = {
                chart: {
                    title: 'Team Statistics',
                },
                bars: 'vertical',
                vAxis: { format: 'decimal',
                    textStyle:
                    {color: 'white'}
                },
                hAxis:{
                    showTextEvery: 1,
                    textStyle:
                    {color: 'white'}
                },
                height: 500,
                colors: ['#DF4ECD'],
                backgroundColor: '#28293D',
                fontSize: 20,
                chartArea:{
                    width:'100%',
                    backgroundColor:'#28293D'},
                    // width:800
                legend: {position: 'none'},
                titleTextStyle:{
                    color:'white'
                }
            };
    
            var chart = new google.charts.Bar(document.getElementById('chart_div'));
    
            chart.draw(data, google.charts.Bar.convertOptions(options));
    
            var btns = document.getElementById('btn-group');
        }
        /*]]>*/
    
        // function addtofav() {
        //     if ($('#addtofav').hasClass('far')) {
        //         $('#addtofav').removeClass('far');
        //         $('#addtofav').addClass('fas');
        //     } else {
        //         $('#addtofav').removeClass('fas');
        //         $('#addtofav').addClass('far');
        //     }
        // }
    </script>